numpy==1.26.4
matplotlib==3.6.3
statsmodels==0.13.5
torch==2.0.1
torchvision==0.15.2
wandb==0.15.4
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
scikit-learn==1.5.2
pickle5==0.0.11
